.awards {
    height: 60vh;
}

.awards h1 {
    text-align: start;
    font-size: 2rem;
    font-family: 'SUCE';
    padding: 2rem;
}

.awards img {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.contact {
    position: relative;
    background:
        linear-gradient(to bottom,
            rgba(4, 30, 66, 0.95) 0%,
            rgba(4, 30, 66, 0.75) 100%),
        url('https://images.unsplash.com/photo-1523580494863-6f3031224c94?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: #fff;
    height: auto;
    min-height: 80vh;
    padding: 1rem 1rem;
    overflow: hidden;
}

.contact h1 {
    text-align: start;
    font-size: 2rem;
    font-family: 'SUCE';
    padding: 2rem;
}

.contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact div h2 {
    font-size: 2.5rem;
    font-family: 'SUCE';
    padding: 2rem;
}

.contact div p {
    font-size: 1rem;
    font-family: 'SUCE';
}

.head-staff {
    font-size: 1.5rem;
    font-family: 'SUCE';
    text-align: center;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .awards h1 {
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
    }
 .awards{
    height: auto;
    padding-bottom: 2rem;
 }
    .awards img {
        width: 100%;
        padding: 0 10px;
    }

    .contact {
        min-height: auto;
        padding: 2rem 1rem;
    }

    .contact h1 {
        font-size: 1.5rem;
        padding: 1rem;
        text-align: start;
    }

    .contact div h2 {
        font-size: 1.8rem;
        padding: 1rem;
        text-align: center;
    }

    .head-staff {
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .contact div p {
        font-size: 0.9rem;
        text-align: center;
        padding: 5px;
    }
}