.pageContainer {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin-bottom: 50px;
}


.contentContainer {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.sectionTitle {
    font-size: 1.8rem;
    color: #003a6a;
    /* VIT Blue */
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.introText {
    margin-bottom: 30px;
    line-height: 1.6;
}

.campusSection {
    margin-bottom: 50px;
}

.campusTitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Table Styles */
.tableContainer {
    overflow-x: auto;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    /* Ensure table doesn't squish too much */
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.table th {
    background-color: #06035f;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 2px solid #003a6a;
}

.table tr:last-child td {
    border-bottom: none;
}

.table tr:hover {
    background-color: #f9f9f9;
}

.roleColumn {
    width: 25%;
    font-weight: 600;
}

.nameColumn {
    width: 35%;
}

.contactColumn {
    width: 40%;
}

.contactLink {
    color: #007bff;
    text-decoration: none;
}

.contactLink:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .bannerTitle {
        font-size: 1.8rem;
    }
}