/* CollegeCampus.css */
.cc-main {
  width: 60vw;
  margin:20px auto;
  color: #111;
  font-family: "Moderustic", sans-serif;
}

.cc-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .cc-heading {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cc-title {
  letter-spacing: 0.025em;
  font-size: clamp(2.5rem, 5vw, 6.5rem);
  line-height: 1;
  font-family: "SUSE", sans-serif;
}

.cc-aside {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cc-desc {
  font-size: 0.75rem;
  line-height: 1.3;
  max-height: 5.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cc-since {
  font-size: 0.75rem;
  font-weight: 600;
}

.cc-container {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .cc-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cc-card {
  background: #fff;
  border-radius: 1.2rem;
  height: 24rem;
  position: relative;
  padding-block: 1rem;
}

.cc-video {
  height: 20rem;
}

.cc-more-link {
  position: absolute;
  right: 0;
  top: -1.25rem;
}

.cc-more-link a {
  font-size: 0.9rem;
  color: #111;
  text-decoration: none;
}

.cc-more-link a:hover {
  font-weight: 600;
}

.cc-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.cc-box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.2rem;
  overflow: hidden;
}

.cc-imgBox,
.cc-videoBox {
  position: absolute;
  inset: 0;
}

.cc-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.cc-videoBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.cc-more {
  position: absolute;
  top: -0.375rem;
  right: 0;
  display: flex;
  background: #fff;
  padding: 0.625rem 0 0.625rem 0.625rem;
  border-bottom-left-radius: 1rem;
  z-index: 10;
}

.cc-more ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cc-more ul li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  position: relative;
  transform: translateY(0);
  transition: 0.2s ease-in-out;
}

.cc-more ul li:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.cc-more ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0deg 0% 6.67% / 20%);
  z-index: 1;
}

.cc-more ul li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
  color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cc-more ul li + li {
  margin-left: -10px;
}

.cc-more ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cc-tag {
  position: absolute;
  bottom: -0.375rem;
  left: 0;
  background: #fff;
  padding: 0.625rem 0.625rem 0.625rem 0;
  border-top-right-radius: 1rem;
  z-index: 10;
}

.cc-tag a {
  font-size: 0.8rem;
  color: #111;
  font-weight: 400;
  border: 2px solid #c8c8c8;
  border-radius: 50px;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  display: inline-block;
}

.cc-tag a:hover {
  background: #111;
  color: #fff;
  border-color: #111;
}

.cc-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cc-arrow:hover {
  background: #111;
}

.cc-arrow:hover svg {
  stroke: #fff;
}

.cc-arrow svg {
  width: 24px;
  height: 24px;
  stroke: #111;
}