/* CollegeCampus.module.css */
.cdMain {
  width: 100%;
  padding: 80px 0;
  background: #ffffff;
  color: #111;
  font-family: "Moderustic", sans-serif;
}

.cdMainInner {
  width: 60vw;
  margin: 0 auto;
}

.cdHeading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .cdHeading {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cdTitle {
  letter-spacing: 0.025em;
  font-size: clamp(2.5rem, 5vw, 6.5rem);
  line-height: 1;
  font-family: "SUSE", sans-serif;
}

.cdAside {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cdDesc {
  font-size: 0.75rem;
  line-height: 1.3;
  max-height: 5.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cdSince {
  font-size: 0.75rem;
  font-weight: 600;
}

.cdContainer {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .cdContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cdCard {
  background: #fff;
  border-radius: 1.2rem;
  height: 24rem;
  position: relative;
  padding-block: 1rem;
}

.cdVideo {
  height: 20rem;
}

.cdMoreLink {
  position: absolute;
  right: 0;
  top: -1.25rem;
}

.cdMoreLink a {
  font-size: 0.9rem;
  color: #111;
  text-decoration: none;
}

.cdMoreLink a:hover {
  font-weight: 600;
}

.cdCardInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.cdBox {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.2rem;
  overflow: hidden;
}

.cdImgBox,
.cdVideoBox {
  position: absolute;
  inset: 0;
}

.cdImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.cdVideoBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.cdMore {
  position: absolute;
  top: -0.375rem;
  right: 0;
  display: flex;
  background: #fff;
  padding: 0.625rem 0 0.625rem 0.625rem;
  border-bottom-left-radius: 1rem;
  z-index: 10;
}

.cdMore ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cdMore ul li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  position: relative;
  transform: translateY(0);
  transition: 0.2s ease-in-out;
}

.cdMore ul li:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.cdMore ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0deg 0% 6.67% / 20%);
  z-index: 1;
}

.cdMore ul li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
  color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdMore ul li+li {
  margin-left: -10px;
}

.cdMore ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cdTag {
  position: absolute;
  bottom: -0.375rem;
  left: 0;
  background: #fff;
  padding: 0.625rem 0.625rem 0.625rem 0;
  border-top-right-radius: 1rem;
  z-index: 10;
}

.cdTag a {
  font-size: 0.8rem;
  color: #111;
  font-weight: 400;
  border: 2px solid #c8c8c8;
  border-radius: 50px;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  display: inline-block;
}

.cdTag a:hover {
  background: #111;
  color: #fff;
  border-color: #111;
}

.cdArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cdArrow:hover {
  background: #111;
}

.cdArrow:hover svg {
  stroke: #fff;
}

.cdArrow svg {
  width: 24px;
  height: 24px;
  stroke: #111;
}