@import url('https://fonts.googleapis.com/css2?family=SUSE&display=swap');

.randomLogoSlider {
    padding: 0;
    background-color: #f8fafc;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    height: 40vh;
}

.randomLogoContainer {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 20px 10px;


}

.randomLogoSubHeader {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 3rem;
    color: #000;
    font-weight: 800;

}

.randomLogoSubHeader {
    font-family: "SUSE", sans-serif;
}


.randomLogoPositions {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.randomLogoPosition {
    width: 25%;
    padding: 15px;
    transition: all 0.5s cubic-bezier(0.694, 0.0482, 0.335, 1);
    opacity: 1;
    transform: translateY(0px);
}

.randomLogoPosition.out {
    opacity: 0;
    transform: translateY(5px);
}

.randomLogoPosition img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}

.randomLogoPosition img:hover {
    transform: scale(1.05);
}

.randomLogoNetworkList {
    display: none;
}

/* Responsiveness */
@media (min-width: 1024px) {
    .randomLogoPosition {
        width: 25%;
    }


}

@media (max-width: 991px) {
    .randomLogoPosition {
        width: 25%;
    }

    .randomLogoSubHeader {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .randomLogoSlider {
        height: 30vh;
    }

    .randomLogoPosition {
        width: 25%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .randomLogoPosition>img {
        width: 100px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .randomLogoSubHeader {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .randomLogoSlider {
        height: 50vh;
    }

    .randomLogoPosition {
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .randomLogoPosition>img {
        width: 90px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .randomLogoSubHeader {
        font-size: 1.2rem;
    }
}