.section {
  background: #fff;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 16px;
}

/* Title */
.title { 
 
  letter-spacing: 0.025em;
  font-size: clamp(2.2rem, 5vw, 6.5rem);
  line-height: 1;
  font-family: "SUSE", sans-serif;
}

.divider {
  border: none;
  border-top: 2px solid #000000;
  margin: 10px 0 30px;
}

/* Top section */
.top {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

.text p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 18px;
  color: #02092a;
}

.imageBox {
  border: 2px solid #002855;
  padding: 0;
}

.imageBox img {
  width: 100%;
  height: auto;
  display: block;
}

/* Bottom section */
.bottom {
  display: grid;
  grid-template-columns: 2fr 40px 1fr;
  align-items: flex-start;
}

/* Responsibilities box */
.responsibilities {
  background: #00103a;
  color: #fff;
  padding: 25px 30px;
  border-radius: 20px;
}

.responsibilities ol {
  margin: 0;
  padding-left: 20px;
}

.responsibilities li {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 12px;
}

/* Vertical separator */
.separator {
  width: 2px;
  background: #ccc;
  height: 100%;
  margin: auto;
}

/* Services */
.services {
  padding-left: 20px;
}

.serviceGroup {
  margin-bottom: 30px;
}

.serviceTitle {
  font-size: 20px;
  font-weight: 600;
  color: #002855;
  margin-bottom: 12px;
}

.services button {
  display: block;
  width: 100%;
  background: #002855;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.services button:hover {
  background: #001d3d;
}

.transcripts {
    padding: 2rem;
    margin: 0 auto;
}
.tanscript-title {
    font-size: 2rem;
    font-weight: 600;
    color: #002855;
}
/* Responsive */
@media (max-width: 900px) {
  .top {
    grid-template-columns: 1fr;
  }

  .bottom {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .separator {
    display: none;
  }
}
