.hhBody {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #f9fafb;
    overflow-x: hidden;
}
 

/* TOP ROW */
.hhTopRow {
    display: flex;
    width: 70vw;
    height: 30vh;
}

.hhTitleGroup {
    width: 100%;
}

.hhDescriptionSection {
    width: 100%;
    margin-top: 2rem;
    clear: both;
}

.hhTopRowColumnTwo {
    height: 100%;
    flex: 0 0 30vw;
    margin-left: auto;
    background: #f0072e;
}

/* HEADINGS */
.hhLeftHeading {
    position: absolute;
    top: 69vh;
    right: 3vw;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #2e2e2e;
    font-weight: 600;
    max-width: 300px;
    line-height: 1.2;
    z-index: 10;
}

.hhRightHeading {
    position: absolute;
    top: 70vh;
    right: 840px;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #2e2e2e;
    font-weight: 600;
    max-width: 500px;
    line-height: 1.5;
    z-index: 10;
}

/* BOTTOM ROW */
.hhBottomRow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.hhBottomRowColumnOne {
    flex: 1;
    padding-left: 50px;
}

.hhBottomRowColumnOne p {
    position: relative;
    top: -29vh;
    width: 70%;
    font-size: 1.2rem;
}

.hhBottomRowColumnTwo {
    height: 100%;
    flex: 0 0 30vw;
    background: rgb(8, 29, 113);
}

/* Highlight Scroll Section */
:root {
    --hh-bg-color-hsl: 59, 3%, 94%;
    --hh-bg-color: hsl(var(--hh-bg-color-hsl));
    --hh-bg-color-highlight: hsl(60, 90%, 50%);
    --hh-color-text: hsl(192, 14%, 20%);
    --hh-color-text-highlight: hsl(192, 14%, 0%);
    --hh-page-width: 80vw;
    --hh-paragraph-font-size: min(max(1.2rem, 4vw), 1.4rem);
    --hh-header-font-size: min(max(2rem, 8vw), 4rem);
    --hh-padding: 8vmin;
    --hh-duration: 1s;
    --hh-ease: cubic-bezier(0.25, 1, 0.5, 1);
}

.hhHighlightSection {
    font-family: 'Lora', serif;
    color: var(--hh-color-text);
    background-color: var(--hh-bg-color);
    padding: var(--hh-padding);
    max-width: var(--hh-page-width);
    margin: 6rem auto;
}

.hhHighlightSection h2  {
    font-size: var(--hh-header-font-size);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 4rem;
}

.hhHighlightSection p {
    margin: 2rem 0;
    font-size: var(--hh-paragraph-font-size);
    line-height: 1.7;
}

.hhTextHighlight {
    all: unset;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition:
        color calc(var(--hh-duration) / 4) var(--hh-ease),
        background-color calc(var(--hh-duration) / 4) var(--hh-ease),
        background-size var(--hh-duration) var(--hh-ease);
}

.hhTextHighlightActive {
    color: var(--hh-color-text-highlight);
    background-size: 100% 100%;
}

.hhHighlightSection .hhTextHighlight {
    background-image: linear-gradient(var(--hh-bg-color-highlight), var(--hh-bg-color-highlight));
}


/* TABLET TIER (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hhTopRowColumnTwo {
        display: flex;
        width: 70vw;
        height: 20vh;
    }

    .hhBottomRowColumnTwo {
        display: flex;
        width: 70vw;
        height: 20vh;
    }

    .hhBottomRow {
        display: flex;
        flex-direction: row-reverse;
        height: 20vh;
    }

    .hhBottomRow p {
        display: flex;
        height: 20vh;
        padding-bottom: 10%;
    }

    .hhTopRow {
        display: flex;
        height: 20vh;
    }

    .hhLeftHeading {
        top: 300px;
        right: -90px;
        font-size: 2.15rem;
    }

    .hhRightHeading {
        top: 300px;
        right: auto;
        left: 20px;
        font-size: 2.25rem;

    }

}

/* RESPONSIVE DESIGN - DESKTOP SCALE ON MOBILE */
@media (max-width: 767px) {

    .hhTitleGroup {
        width: 100%;
        margin-bottom: 2rem;
    }

    .hhRightHeading {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
        max-width: 100%;
        font-size: 2.2rem;
        font-weight: 700;
        display: flex !important;
        line-height: 1.57;
        z-index: 20;
        padding: 0 0.5rem;
    }

    .hhRightHeading span:last-of-type {
        align-self: flex-end;
        text-align: right;
    }

    .hhTopRow {
        display: flex;
        width: 100%;
        height: 10rem;
        position: relative;
        margin-top: -9rem;
        z-index: 10;
    }

    .hhTopRowColumnTwo {
        position: relative;
        right:8rem;
        flex: 0 0 40vw;
        height: 100%;
        width: 200px;
        background: rgb(240, 7, 46);
        margin-left: auto; 
    }

    .hhBottomRow {
        display: block;
        width: 100%;
        margin-top: -10px;
        /* OVERLAP/TIGHT POSITION */
        position: relative;
        z-index: 10;
    }

    .hhBottomRowColumnTwo {
        float: right;
        width: 43vw;
        height: 160px;
        background: rgb(8, 29, 113);
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .hhLeftHeading {
        position: relative !important;
        top: -230px !important;
        width: 100%;
        max-width: 100%;
        text-align: left;
        font-size: 2.8rem;
        padding: 1rem;
        line-height: 1.5;
        display: inline-block;
        margin-bottom: 1rem;
    }

    .hhDescriptionSection {
        width: 100%;
        margin-top: 2rem;
        padding: 0 1.5rem;
        clear: both;
    }

    .hhBottomRowColumnOne {
        width: 100%;
        padding: 0;
    }

    .hhBottomRowColumnOne p {
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: center;
        color: #333;
    }

    .hhHighlightSection {
        padding: 2rem 1rem;
        width: 100vw;
        margin-top: -11rem;
    }

    .hhHighlightSection h2  {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    :root {
        --hh-paragraph-font-size: 1.1rem;
        --hh-page-width: 92vw;
    }
}