.griddyFloatSm {
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 1000;
}

/* Slim vertical tab — exact look like your screenshot */
.griddyFlFl {
  background: #0d0a5e;
  /* your original color */
  width: 34px;
  /* slim vertical width */
  height: 170px;
  /* tall panel like screenshot */
  position: absolute;
  right: 0;
  border-radius: 0 8px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  /* letters rotate to face left side */
  transform: rotate(180deg);
  color: #fff;
  font-size: 14px;
  font-weight: 500;

}

/* positions */
.griddyFloatFb {
  top: 0;
}

.griddyFloatIg {
  top: 180px;
}

.griddyFlFl a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .griddyFloatSm {
    top: 45vh;
    transform: scale(0.8);
    transform-origin: right center;
  }
}