#scroll {
    position: absolute;
    right: 50%;
    margin-right: -25px;
    bottom: -25px;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 26px;
    line-height: 26px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 1.2s ease;
}

#scroll.clicked {
    transform: rotate(360deg);
}

#scroll.rotate {
    transform: rotate(180deg);
}

.arrow-bounce {
    animation: arrow 1s infinite cubic-bezier(0.4, 0, 0.6, 1);
    position: relative;
}

@keyframes arrow {

    0%,
    100% {
        bottom: -13px;
    }

    50% {
        bottom: -8px;
    }
}