
/* Body grid layout */
.kfa-app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 3vmin 3vmin 4vmin 3vmin;
    height: 90vh;
    width: 100%;
    background: #ffffff;
    color: #3a3535;
    z-index: 100;
    transition: opacity 0.3s ease;
}

.kfa-app:hover {
    opacity: 0.5;
}

/* Title animations */
.kfa-title {
    grid-column: 1 / -1;
    grid-row: 1;
    font-size: 8vw;
    z-index: 2;
    display: inline-block;
    animation: kfa-outer-left 1s 1s ease forwards;
}

.kfa-title-inner {
    display: inline-block;
    animation: kfa-inner-left 1s 1s ease forwards;
}

.kfa-cafe,
.kfa-mozart {
    display: inline-block;
    animation: kfa-outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) forwards;
}

.kfa-cafe-inner {
    display: inline-block;
    animation: kfa-inner-left 1s 1s ease forwards, kfa-text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) forwards;
}

.kfa-mozart-inner {
    display: inline-block;
    animation: kfa-text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) forwards;
}

/* Keyframes */
@keyframes kfa-text-clip {
    from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes kfa-outer-left {
    from {
        transform: translateX(50%);
    }

    to {
        transform: none;
    }
}

@keyframes kfa-inner-left {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: none;
    }
}

/* Image animation */
.kfa-image {
    grid-row: 1;
    grid-column: 2;
    margin-left: -2rem;
    opacity: 0.7;
    animation: kfa-image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

.kfa-image img {
    display: block;
    width: 100%;
    height: auto;
}

@keyframes kfa-image-in {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* Replay animation on body click */
body:active * {
    animation: none !important;
}

/* Optional iframe embed */
.kfa-iframe-embed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: white;
}